$text_colour_primary: #565656;
$text_colour_title: #000000;
$font_primary: 'Lato',
sans-serif;
$font_title: 'Red Hat Display',
sans-serif;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #fff;
    font-family: $font_primary;
    color: $text_colour_primary;
    font-size: 19px;
    line-height: 32px;
    letter-spacing: 0.05em;
}

h1,
h3 {
    font-family: $font_title;
    color: $text_colour_title;
}

h1 {
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 60px;
    letter-spacing: 0.05em;
}

h3 {
    font-size: 23px;
    margin-bottom: 40px;
    letter-spacing: 0.1em;

}

p {
    margin: 2em 0 1em 0;
}

img {
    vertical-align: top;
}

a,
button {
    transition: all .2s ease;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

ol,
ul {
    list-style: none;
}

.page_wrap {
    width: 95%;
    max-width: 1120px;
    margin: 90px auto;
    padding-bottom: 170px;
}

.headline {
    font-family: $font_primary;
    color: $text_colour_title;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.image_wrap {
    width: 100%;
    margin: 0 auto 50px;

    &.margin_b {
        margin-bottom: 130px;
    }

    picture {
        width: 100%;

        img {
            width: 100%;
        }
    }
}

.description_section.w50 {
    width: 50%;
    text-align: justify;
    margin-bottom: 210px;

}

article {
    margin-bottom: 128px;
}

@media screen and (max-width: 768px) {

    h1 {
        margin-bottom: 52px;
    }

    .page_wrap {
        max-width: 734px;
    }

    .image_wrap {
        &.margin_b {
            margin-bottom: 50px;
        }
    }


    .description_section.w50 {
        width: 100%;
        margin-bottom: 65px;
    }

    article {
        margin-bottom: 64px;
    }
}

@media screen and (max-width: 320px) {
    .page_wrap {
        max-width: 288px;
    }

}