$color_bright: #4A4FF2;
$color_socials: #000000;
$color_border: #D8D8D8;
$text_color_primary: rgb(17, 17, 17, .6);
$text_color_title: #111111;
$font_primary: 'Mulish',
sans-serif;
$font_size_default: 16px;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #fff;
    font-family: $font_primary;
    color: $text_color_primary;
    font-size: $font_size_default;
    font-size: 16px;
    line-height: 26px;
}

main{
    margin-top: 140px;
}

img {
    vertical-align: top;
}

a,
button {
    transition: all .2s ease;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

ol,
ul {
    list-style: none;
}

.page_wrap {
    width: 90%;
    max-width: 1100px;
    margin: 0 auto;
}

nav {
    font-size: 18px;
    font-weight: 700;
    color: $text_color_title;

    ul {
        width: 165px;
        display: grid;
        grid-auto-flow: column;
        gap: 30px;

        a {
            &:hover {
                // text-decoration: none;
                display: inline-block;
                transform: scale(1.2);
            }
        }
    }
}

// ______________    header  __________
#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px 0;
    z-index: 100;
    background: rgba(255, 255, 255, .6);
    transition: all .2s ease;

    .grid_wrap {
        width: 90%;
        max-width: 1100px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 165px;
    }

    &.scroll {
        box-shadow: 0 0 5px #999;
        backdrop-filter: blur(10px);
    }

}

// ______________ 

.heading_block {
    margin-bottom: 178px;

    .subtitle {
        color: $color_bright;
        font-size: 22px;
        line-height: 28px;
        font-weight: 700;
        letter-spacing: -0.042em;
        margin-bottom: 32px;
    }

    .heading_title {
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: end;
        gap: 15%;
    }

    .h2 {
        font-size: 40px;
        line-height: 60px;
        color: $text_color_title;

        span {
            color: $color_bright;
        }
    }

    p {
        margin-bottom: 50px;
    }

    .kredo {
        font-size: 18px;
        line-height: 23px;
        font-style: italic;
        bottom: 10px;

        &::before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: -10px;
            width: 30px;
            height: 2px;
            background-color: $text_color_primary;
        }
    }
}

// ________________________   GALLERY  ___________________

.masonry {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-auto-rows: 0;
    margin-bottom: 57px;

    .masonry-item {
        overflow: hidden;
    }
}

// ____________    content     ___________________

.content {
    display: grid;
    grid-template-columns: 55% 40%;
    gap: 90px;
    margin-bottom: 100px;

    .h3 {
        color: $text_color_title;
        font-size: 28px;
        line-height: 38px;
    }

    ul {
        columns: 2;
        column-gap: 70px;
    }

    li {
        margin-bottom: 10px;
    }
}

//  _____________   award_block  _________________

.award_block {
    border-top: 2px solid $color_border;
    margin-bottom: 114px;
}

.award_list {
    display: grid;
    grid-template-columns: 43% 1fr;
    padding-top: 48px;
    border-bottom: 2px solid $color_border;
}

.award {
    grid-row-start: 2 span;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    color: $text_color_title;
}

.award_item {
    display: grid;
    grid-template-columns: 2fr 190px 1fr;
    margin-bottom: 57px;
}

.award_title {
    font-size: 18px;
    line-height: 23px;
    font-weight: 700;
    color: $text_color_title;
}

.desc_title {
    line-height: 20px;
    color: $text_color_title;
    margin-bottom: 12px;
}

.award_year {
    color: $text_color_title;
    text-align: right;
}



//_____________________ footer  __________________

footer {
    display: grid;
    grid-template-columns: 1fr 160px 100px;
    padding-bottom: 60px;
    gap: 90px;

    .socials {
        ul {
            display: grid;
            grid-auto-flow: column;
            gap: 30px;

            a {

                color: $color_socials;
                text-decoration: none;

                &:hover {
                    display: inline-block;
                    transform: scale(1.5);
                }
            }
        }


    }
}

.icon-dr64:before {
    content: "\e900";
}

.icon-in64:before {
    content: "\e901";
}

.icon-tw64:before {
    content: "\e902";
}

@import '_responsive';
