
$color_black:#000000;
$color_white:#ffffff;

$color_bright: #55B7FF;
$color_dark: #7E5AFF;
$color_bright2: #24CCFA;
$color_dark2: #3C7FD4;

$text_color_primary: #2C4058;
$text_color_extra: #4B5562;

$background_gradient_btn:linear-gradient(45deg, rgba(126, 90, 255, 0.4962359943977591) 0%, rgba(126, 90, 255, 0.4990371148459384) 15%, rgba(85, 183, 255, 0.5046393557422969) 50%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);

$background_gradient_header:linear-gradient(45deg, rgba(126,90,255,0.9) 0%, rgba(85,183,255,0.7) 40%, rgba(85,183,255,0.7) 60%, rgba(126,90,255,0.9) 100%);

$background_gradient_main:linear-gradient(45deg, rgba(85, 183, 255, 1) 0%, rgba(126, 90, 255, 1) 100%);

$background_gradient_news: linear-gradient(45deg, rgba(60, 127, 212, 1) 0%, rgba(36, 204, 250, 1) 100%);

$font_primary: 'Open Sans',
sans-serif;
$font_title: 'Montserrat',
sans-serif;
$font_extras: 'Source Sans Pro',
sans-serif;