@import 'hamburger';

$color_dark: #212121;
$color_light: #929292;
$text_color_extra: #f4f4f4;
$font_primary: 'Roboto',
sans-serif;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: #fff;
    font-family: $font_primary;
    font-size: 20px;
}

img {
    vertical-align: top;
}

a,
button {
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

a {
    text-decoration: none;
    color: inherit;
}

.burger_menu {
    position: absolute;
    left: 8px;
    top: 10px;
    z-index: 11;
}

.sidebar {
    position: fixed;
    background-color: $color_dark;
    height: 100vh;
    width: 85px;
    top: 0px;
    padding: 70px 20px;
    overflow: hidden;
    -webkit-transition: width .5s;
    -o-transition: width .5s;
    transition: width .5s;
    z-index: 10;

    svg {
        -ms-flex-preferred-size: 42px;
            flex-basis: 42px;
        width: 42px;
        height: 42px;
        fill: $color_light;
    }

    span {
        color: $color_light;
        max-width: 0;
        overflow: hidden;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    a {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    ul {
        list-style: none;
    }

    li {
        padding: 10px 0;
        cursor: pointer;

        &:last-child {
            border-bottom: 0;
        }

        &:hover {
            color: $text_color_extra;

            svg {
                fill: $text_color_extra;
            }

            span {
                color: $text_color_extra;
            }
        }
    }

    &.open {
        width: 300px;

        li {
            border-bottom: 1px solid $color_light;
        }
    }

    &.open span {
        display: block;
        padding-left: 10px;
        max-width: 200px;
    }
}

@media (max-width: 800px) {

    .sidebar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;

        &.open {
            width: 100%;
        }

        ul {
            width: 200px;

        }

        li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
        }

    }
}