@import 'hamburger';

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

html {
    height: 100%;
    width: 100%;
}

body {
    color: #000;
    font-family: Arial, sans-serif;
    font-size: calc(12px + (26 - 14) * ((100vw - 375px) / (1920 - 375)));
    line-height: calc(18px + (32 - 16) * ((100vw - 375px) / (1920 - 375)));

    &.lock {
        overflow: hidden;
    }
}

a {
    transition: all .2s ease;
}

main {
    width: 100%;
    height: calc(100vh - 90px);
    margin-top: 60px;
}

header {
    height: 60px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: lightgreen;
    z-index: 10;
    padding-top: 10px;

    .container {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

#logo {
    a {
        font-size: 30px;
        color: #000;
        text-decoration: none;
        font-weight: 700;
    }
}

#main_menu {

    ul {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;

        // li{
        //   margin-right: 30px;
        //   &:last-child{
        //       margin-right: 0;
        //   }
        // }

        // li{
        //     + li{
        //         margin-left: 30px;
        //     }
        // }

        a {
            color: #000;
            display: inline-block;
            text-decoration: none;
            height: 36px;
            line-height: 36px;
            padding: 0 5px;

            &:hover {
                background-color: rgba(255, 255, 255, .5);
            }
        }
    }
}

// .hamb_menu{
//     display: none;
// }

#side_block {

    // width: 300px;
    // height: 100vh;
    // top: 0;
    // transform: translateX(-300px);

    width: 100%;
    position: fixed;
    left: 0;
    top: 60;
    background-color: lightyellow;
    padding: 20px;
    z-index: 12;

    transform: translateY(-100%);
    transition: all .5s ease;

    &.open {
        // transform: translateX(0);
        transform: translateY(60px);
    }

    .burger_side_block{
        position: absolute;
        right: 8%;
        z-index: 13;
    }
}

#page_overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    z-index: 11;

    &.open {
        display: block;
    }
}

#mobile_menu {

    ul {
        list-style: none;
    }

    li {
        margin-bottom: 40px;
    }

    a {
        font-size: 30px;
        color: #000;
        text-decoration: none;
        font-weight: 700;
    }
}

.page_wrap {
    display: flex;
}

.container {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}

.flex_wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pic_wrap {
    margin-top: 60px;
    width: 30%;
    // position: relative;

    img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 2px solid red;
    }

    &:before,
    &:after,
    .pic_inner::before,
    .pic_inner::after {
        content: '';
        width: 100px;
        height: 100px;
        display: inline-block;
        position: absolute;
    }

    &:before {
        border-top: 2px solid red;
        border-left: 2px solid red;
        top: 0;
        left: 0;
    }

    &::after {
        border-top: 2px solid red;
        border-right: 2px solid red;
        top: 0;
        right: 0;
    }

    .pic_inner {
        padding: 20px;

        &:before {
            border-bottom: 2px solid red;
            border-left: 2px solid red;
            bottom: 0;
            left: 0;
        }

        &::after {
            border-bottom: 2px solid red;
            border-right: 2px solid red;
            bottom: 0;
            right: 0;
        }
    }
}

@media screen and (max-width: 1100px) {
    .flex_wrap {
        justify-content: center;
    }

    .pic_wrap {
        width: 80%;
    }


}