@import 'hamburger';
@import 'icons';
@import 'josefin-sans';
@import 'aleo';

$colour_bright: #5474FD;
$colour_bright_dark: #496bfe;
$color_background: #232323;
$text_colour_primary: #E8E8E8;
$text_colour_title: #FFFFFF;
$font_primary: 'Josefin Sans', sans-serif;
$font_title: 'Aleo', serif;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: $color_background;
    font-family: $font_primary;
    color: $text_colour_primary;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 1.6px;
}

.h1 {
    text-transform: uppercase;
    font-family: $font_primary;
    font-size: 48px;
    letter-spacing: 4.8px;
    margin-bottom: 11px;
}

.h2 {
    font-family: $font_title;
    font-size: 36px;
    font-weight: normal;
}

.h4 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
}

img {
    vertical-align: top;
}

ol,
ul {
    list-style: none;
}

// ________________  BUTTONS, LINKS  ___________________

a,
button {
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    cursor: pointer;
    width: 228px;
    height: 63px;
    background-color: $colour_bright;
    color: $text_colour_title;
    text-transform: uppercase;
    font-family: $font_title;
    font-size: 16px;
    letter-spacing: 1.4px;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    border: none;
    outline: none;
    overflow: hidden;

    &:hover {
        text-decoration: none;
    }
}

.btn_hover {
    &:hover {
        background-color: $colour_bright_dark;
    }
}

.btn_skew {
    span {
        z-index: 2;
    }

    &::before {
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        background-color: $colour_bright_dark;
        width: 200%;
        height: 100%;
        -webkit-transform: skew(45deg) translateX(-85%);
            -ms-transform: skew(45deg) translateX(-85%);
                transform: skew(45deg) translateX(-85%);
        -webkit-transition: all 1s ease;
        -o-transition: all 1s ease;
        transition: all 1s ease;
        z-index: 1;
    }

    &:hover {
        &::before {
            -webkit-transform: skew(60deg) translateX(-20%);
                -ms-transform: skew(60deg) translateX(-20%);
                    transform: skew(60deg) translateX(-20%);
        }
    }
}

// ________________  HEADER  ___________________

header {
    background-color: $colour_bright;
    text-transform: uppercase;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 11;

    .container {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .logo {
        margin: 30px 0;
    }
}

.main_menu {
    li {
        &:after {
            content: '';
            width: 1%;
            height: 1px;
            background-color: $text_colour_primary;
            position: absolute;
            bottom: 10px;
            left: 50%;
            -webkit-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
            opacity: 0;
        }

        &:hover {
            &:after {
                width: 100%;
                left: 0;
                bottom: 0;
                opacity: 1;
            }
        }
    }
}

#sidebar {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0px;
    background-color: $colour_bright;
    padding: 20px;
    z-index: 10;
    -webkit-transform: translateY(-200%);
        -ms-transform: translateY(-200%);
            transform: translateY(-200%);
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;

    &.open {
        -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
                transform: translateY(0);
    }

    .sidebar_header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-left: 20px;
    }

    ul {
        width: 100%;
        height: 100%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        gap: 60px;
        font-size: 20px;
        font-weight: 700;
        padding-top: 10vh;

        li {
            width: 60%;
            text-align: center;
            padding-bottom: 20px;
            border-bottom: 1px solid $text_colour_title;
        }
    }

}

.hamburger {
    display: none;
}


// ________________  MAIN  ___________________
nav {
    ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 36px;
        font-size: 14px;
        letter-spacing: normal;
    }

    li {
        a {
            &:hover {
                text-decoration: none;
            }
        }

    }
}

.logo {
    text-transform: uppercase;

    a {
        font-family: $font_primary;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 2.4px;

        &:hover {
            text-decoration: none;
        }
    }
}

section {
    min-height: calc(100vh - 88px);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 0;
}

.container {
    width: 90%;
    height: 100%;
    max-width: 1100px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2%;

    .img_block,
    .desc_block {
        -ms-flex-preferred-size: 50%;
            flex-basis: 50%;
    }
}

.reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
}

.img_wrap {
    img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover;
    }
}

// ________________  MAIN SLIDE  ___________________

.section_main_slide {
    .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        p {
            font-size: 22px;
            letter-spacing: 6.82px;
            margin-bottom: 48px;
        }
    }

    form {
        width: 60%;
        height: 63px;
        margin-bottom: 108px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        input {
            width: 75%;
            height: 100%;
            padding: 18px 0;
            font-size: 14px;
            letter-spacing: 2.8px;
            text-align: center;
            outline: none;
            border: none;
        }

        .btn {
            width: 25%;
            height: 63px;
            position: absolute;
            right: 0;
            bottom: 0;
            border: 1px solid #ffffff;
            font-size: 14px;
        }

        .icon-search {
            font-size: 22px;
            padding: 14px 0 16px 10px;
        }
    }
}

.scroll_down_block {
    font-size: 14px;
    letter-spacing: 2.8px;

    a {
        text-decoration: none;

        &:before,
        &:after {
            content: '';
            width: 15px;
            height: 15px;
            border-left: 1px solid $text_colour_title;
            border-bottom: 1px solid $text_colour_title;
            position: absolute;
            bottom: -20px;
            left: 40%;
            -webkit-transform: translateY(0) rotate(-45deg);
                -ms-transform: translateY(0) rotate(-45deg);
                    transform: translateY(0) rotate(-45deg);
            -webkit-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
        }

        &:after {
            opacity: 0;
        }

        &:hover {
            text-decoration: none;

            &::before {
                -webkit-transform: translateY(10px) rotate(-45deg);
                    -ms-transform: translateY(10px) rotate(-45deg);
                        transform: translateY(10px) rotate(-45deg);
            }

            &:after {
                -webkit-transform: translateY(20px) rotate(-45deg);
                    -ms-transform: translateY(20px) rotate(-45deg);
                        transform: translateY(20px) rotate(-45deg);
                opacity: 1;
            }
        }
    }
}


// ________________  why_we_choose Section  ___________________

.section_why_we_choose {

    .img_block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 10px;
        padding-left: 100px;

        .img_top {
            -ms-flex-item-align: start;
                align-self: flex-start;
        }

        .img_bottom {
            -ms-flex-item-align: end;
                align-self: end;
        }
    }

    .h2 {
        margin-bottom: 50px;
    }

    p {
        margin-bottom: 40px;
    }
}

// ________________  section_how_it_works Section  ___________________

.section_how_it_works {
    min-height: auto;
    margin: 100px auto;

    .container {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }

    .img_wrap {
        width: 75%;
        position: absolute;
        left: 49.5%;
        top: -50%;
        -webkit-transform: translate(-50%, 0%);
            -ms-transform: translate(-50%, 0%);
                transform: translate(-50%, 0%);
        z-index: 1;

    }

    span {
        font-size: 60px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        margin-bottom: 40px;
        color: $colour_bright;
        background-color: $color_background;
        z-index: 3;

        &.icon-chek {
            color: #FF6363;
        }

        &.icon-like {
            color: #00A2FF;
        }
    }
}

// ________________  Section  ___________________

.desc_block_card {
    background-color: rgba($color_background, 0.9);
    padding: 47px 30px;
    letter-spacing: 1px;

    .subtitle {
        font-size: 20px;
        letter-spacing: 1.5px;
        margin-bottom: 23px;
    }

    .h4 {
        margin-bottom: 13px;
    }

    .btn {
        margin-top: 46px;
    }
}

// ________________  Section  _responses  ___________________

.section_responses {
    .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .h2 {
        margin-bottom: 90px;
    }

    .response_block {
        background-color: #333333;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .img_wrap {
        -ms-flex-preferred-size: 40%;
            flex-basis: 40%;

    }

    .desc_block_response {
        -ms-flex-preferred-size: 60%;
            flex-basis: 60%;
        padding: 50px 25px 40px 62px;
    }

    .icon-quote-left {
        font-size: 36px;
        color: $colour_bright;
        bottom: -4px;
        padding-right: 5px;
    }
}

// ____________      footer    ______________________

footer {
    .container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .logo {
        margin: 120px 0 8px;
    }

    p {
        margin-bottom: 20px;
    }

    .social_menu {
        margin-bottom: 50px;

        ul {
            gap: 25px;
            font-size: 16px;
        }

        li {
            a {
                &:hover {
                    text-decoration: none;
                }
            }

            &:hover {
                color: $colour_bright;
            }
        }
    }
}

@import '_response';
