$black: #000000;
$white: #FFFFFF;
$gray1: #333333;
$gray2: #434343;
$gray3: #666666;
$gray4: #B7B7B7;
$gray5: #DFDFDF;

$blue: #307FE2;
$gold: #FAE03C;

$colorText: $gray5;
$colorMaim: $gold;
$colorExtra: $blue;

$colorBgMain: $gray1;

$fontMain: 'Raleway',
sans-serif;
$fontExtra: 'Roboto',
sans-serif;
$fontSizeMain: 16px;
$fontSizeExtra: 24px;

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: $colorBgMain;
    font-family: $fontMain;
    color: $gray1;
    font-size: $fontSizeMain;
    line-height: 1.5rem;
}

img {
    vertical-align: top;
}

a,
button {
    transition: all .2s ease;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

ol,
ul {
    list-style: none;
}

.page_wrap {
    display: flex;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
}

.modal_overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($gray2, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    
    .my_modal {
        background-color: $blue;
        padding: 20px;
        width: 90%;
        max-width: 600px;
        z-index: 101;
    }
}



