$color_bright: #C62100;
$color_light: #F16A50;
$color_black: #000000;
$color_arrow-inactive: #202020;
$color_brown-dark: #35312D;
$color_brown-light: #F8F1EA;
$color_dark-dot-inactive: #CAC2BA;
$color_dot-inactive: #F8F1EA;

$font_primary: 'Montserrat',
sans-serif;