$colour_bright: #C62100;
$colour_light: #F16A50;
$colour_black: #000000;
$colour_arrow-inactive: #202020;
$colour_brown-dark: #35312D;
$colour_brown-light: #F8F1EA;
$colour_dark-dot-inactive: #CAC2BA;
$colour_dot-inactive: #F8F1EA;

$font_primary: 'Montserrat',
sans-serif;